.header {
  background-image: url("/headerbg.png");
  background-size: cover;
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 2rem;
}

.text {
  font-family: var(--font-accent);
  font-size: 2rem;
  -webkit-text-stroke: 1.5px #000;
  color: #9a393900;
}
