.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
  padding-block: 3rem;
  gap: 5rem;
  background-color: var(--color-cream);
  @media (width<1000px) {
    gap: 3rem;
  }
  @media (width<900px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.img {
  width: 25px;
  height: 25px;
}

.night {
  display: flex;
}
