@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Fugaz+One&family=Noto+Sans+JP:wght@100..900&display=swap");
@import "ress";

:root {
  --font-jp: "Noto Sans JP", sans-serif;
  --font-en: "Fugaz One", sans-serif;
  --font-accent: "Chewy", system-ui;
  --color-green: #0b401d;
  --color-cream: #f5eee5;
  --color-wine: #8e0e0e;
  --color-navy: #0f1056;
  --color-yellow: #ffcc02;
}

body {
  background-color: var(--color-green);
}

img {
  width: 100%;
  height: auto;
}
