.wrapper {
  width: 100%;
  margin-inline: auto;
  height: 300vh;
  position: relative;
  overflow: hidden; /* ← これ重要 */
  padding-inline: 3rem;
}

.inner {
  max-width: 1200px;
  margin-inline: auto;
  position: relative;
  height: 200vh;
  padding-inline: 3rem;
}

.item {
  position: absolute;
  will-change: transform;
  width: 50%;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

/* 初期位置（ここで重なりを作る） */
.img1 {
  top: 0;
  right: 0;
}

.img2 {
  top: 250px;
  left: 0;
}

.img3 {
  top: 1100px;
  right: 100px;
}

.img4 {
  top: 1400px;
  left: 80px;
}
