.wrapper {
  width: 100%;
  margin-inline: auto;
  height: 300vh;
  position: relative;
  overflow: hidden; /* ← これ重要 */
  padding-inline: 3rem;
}

.inner {
  max-width: 1200px;
  margin-inline: auto;
  position: relative;
  height: 200vh;
  padding-inline: 3rem;
}

.item {
  position: absolute;
  will-change: transform;
  width: 50%;

  @media (max-width: 800px) {
    width: 65%;
  }
}

.image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

/* 初期位置（ここで重なりを作る） */
.img1 {
  top: 0;
  right: 0;
}

.img2 {
  top: 250px;
  left: 0;
  @media (max-width: 800px) {
    top: 280px;
  }
}

.img3 {
  top: 900px;
  right: 100px;
  @media (max-width: 800px) {
    top: 500px;
    right: 60px;
  }
}

.img4 {
  top: 1200px;
  left: 80px;
  @media (max-width: 800px) {
    top: 700px;
    left: 0px;
  }
}

@media (max-width: 500px) {
  .wrapper {
    height: auto;
    padding-inline: 1.25rem;
  }

  .inner {
    height: auto;
    padding-inline: 0;
  }

  .item {
    position: relative; /* absolute を解除 */
    width: 100%;
    margin-bottom: 2rem;
    transform: none !important; /* パララックス暴走防止 */
  }

  .image {
    width: 100%;
    border-radius: 4px;
  }

  /* 位置指定を無効化 */
  .img1,
  .img2,
  .img3,
  .img4 {
    top: auto;
    left: auto;
    right: auto;
  }
}
