.box {
  position: relative;
  z-index: -5;
  margin-block-start: 2rem;
}

.img {
  width: 95vw;
  margin-inline: auto;
  border-radius: 0 0 200 0;
  min-height: 500px;
  object-fit: cover;
}

.logo {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  @media (width<750px) {
    width: 250px;
  }
}
