/* 角丸担当（Parallaxには触らない） */
.radiusWrap {
  width: 95vw;
  height: 100vh;

  overflow: hidden; /* ← 必須 */
  border-radius: 0 0 200px 0; /* ← ここだけ */

  position: relative;
}

/* Parallaxを親いっぱいに */
.radiusWrap :global(.react-parallax) {
  height: 100%;
}

/* 背景を必ずはみ出させる */
.radiusWrap :global(.react-parallax-bgimage) {
  min-height: 130%;
}

/* 前景 */
.box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 450px;
  z-index: 2;
}

@media (width < 750px) {
  .radiusWrap {
    height: 80vh;
    border-radius: 0 0 120px 0;
  }

  .logo {
    width: 250px;
    margin-block-start: -90px;
  }
}
